@font-face {
    font-family: 'EncodeSans';
    src: url(EncodeSans.ttf); 
}
@font-face {
    font-family: 'Euro_Styles';
    src: url(EuroStyle.ttf); 
}
.card-header {
	background-color: #FFF !important;
	border-bottom: 2px solid #D8D8D8 !important;
	padding: 1px !important;
	max-width: 100% !important;
}
.card-footer {
	background-color: #2B2B2B !important;
	padding: 1px !important;
	max-width: 100% !important;
	margin-top: 30px;
	padding-bottom: 10px !important;
}
.container {
    max-width: 100% !important;
	padding: 0px !important;
}
body{
	font-family: EncodeSans !important;
	color: #000 !important;
	line-height: normal !important;
}
.card-background {
	background: url(../img/negativado_background.png);
}
.img-geral{
	width: 100%;
}
.input-dados{
	border-width: 0px 0px 1px 0px;
    background-color: transparent;
	border-color: #818181;
	width: 80%;
	padding: 5px;
	margin-top: 15px;
	text-align:center;
    font-weight: bold;
}

.card-ladoalado5{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.card-ladoalado6{
	display: inline-block;
	vertical-align: middle;
	width: 45%;
}

.botao-padrao:hover{
	background-color: #1a2451 !important;
}
.botao-padrao2:hover{
	background-color: #1a2451 !important;
}

@media (min-width: 1101px){
	.card-ladoalado1{
		display: inline-block;
		vertical-align: middle;
		width: 30%;
	}
	.card-ladoalado2{
		display: inline-block;
		vertical-align: middle;
		width: 65%;
	}
	.card-ladoalado3{
		display: inline-block;
		vertical-align: middle;
		width: 30%;
		padding: 20px;
	}
	.card-ladoalado4{
		display: inline-block;
		vertical-align: middle;
		width: 65%;
		padding: 20px;
	}
	
}

	
@media (min-width: 901px){
	.card-container {
		padding: 50px 21% 0px 21% !important;
		opacity: 1;	
	}
	.card-texto40 {
		font-size: 40px !important;
	}
	.card-texto40_2 {
		font-size: 40px !important;
	}
	.card-padding20 {
		padding: 0px 15% !important;
	}
	.card-texto20 {
		font-size: 20px;
	}
	.card-texto30 {
		font-size: 30px !important;
	}
	.card-texto70 {
		font-size: 70px !important;
	}
	.card-ladoalado1{
		vertical-align: middle;
	}
	.card-ladoalado2{
		vertical-align: middle;
	}
	.card-marcacao{
		margin: 25px 0px 25px 0px;
		font-size: 18px;
	}
	.card-ladoalado1{
		display: inline-block;
		vertical-align: middle;
		width: 35%;
	}
	.card-ladoalado2{
		display: inline-block;
		vertical-align: middle;
		width: 60%;
	}
	.card-ladoalado3{
		display: inline-block;
		vertical-align: middle;
		width: 30%;
		padding: 15px;
	}
	.card-ladoalado4{
		display: inline-block;
		vertical-align: middle;
		width: 65%;
		padding: 15px;
	}
	.img-carro{
		width: 100%;
	}
	.botao-padrao{
		background-color: #28377A !important;
		border-radius: 7.71275px !important;
		border: none !important;
		margin: 45px;
		width: 40%;
		font-weight: bold !important;
		font-size: 21.5px !important;
	}
	.botao-padrao2{
		background-color: #28377A !important;
		border-radius: 0px 0px 7px 7px !important;
		border: none !important;
		width: 30%;
		font-weight: bold !important;
		font-size: 15px !important;
	}
	
	.mobile-dontshow{
		display:block;
	}
	.mobile-show{
		display:none;
	}
	
}

@media (max-width: 1150px){
	.img-selos2{
		width: 150px;
	}
	.img-selos3{
		width: 130px;
	}
	.img-selos4{
		width: 150px;
	}
}

@media (max-width: 900px){
	.card-container {
		padding: 50px 10% 0px 10% !important;
		opacity: 1;	
	}
	.card-texto40 {
		font-size: 40px !important;
	}
	.card-texto40_2 {
		font-size: 40px !important;
	}
	.card-padding20 {
		padding: 0px 15% !important;
	}
	.card-texto20 {
		font-size: 19px;
	}
	.card-texto30 {
		font-size: 25px !important;
	}
	.card-texto70 {
		font-size: 55px !important;
	}
	.card-ladoalado1{
		vertical-align: middle;
	}
	.card-ladoalado2{
		vertical-align: middle;
	}
	.card-marcacao{
		margin: 25px 0px 25px 0px;
		font-size: 16px;
	}
	.card-ladoalado3{
		display: inline-block;
		vertical-align: middle;
		max-width: 40%;
		padding: 10px;
	}
	.card-ladoalado4{
		display: inline-block;
		vertical-align: middle;
		max-width: 55%;
		padding: 10px;
	}
	.img-carro{
		width: 100%;
	}
	.botao-padrao{
		background-color: #28377A !important;
		border-radius: 7.71275px !important;
		border: none !important;
		margin: 45px;
		width: 50%;
		font-weight: bold !important;
		font-size: 21.5px !important;
	}
	.botao-padrao2{
		background-color: #28377A !important;
		border-radius: 0px 0px 7px 7px !important;
		border: none !important;
		width: 30%;
		font-weight: bold !important;
		font-size: 13px !important;
	}
	.mobile-dontshow{
		display:none;
	}
	.mobile-show{
		display:block;
	}
}

@media (max-width: 550px){
	.card-container {
		padding: 50px 10% 0px 10% !important;
		opacity: 1;	
	}
	.card-texto40 {
		font-size: 27px !important;
	}
	.card-texto40_2 {
		font-size: 32px !important;
	}
	.card-padding20 {
		padding: 0px 0% !important;
	}
	.card-texto20 {
		font-size: 19px;
	}
	.card-texto30 {
		font-size: 20px !important;
	}
	.card-texto70 {
		font-size: 46px !important;
	}
	.card-ladoalado1{
		vertical-align: middle;
	}
	.card-ladoalado2{
		vertical-align: middle;
	}
	.card-marcacao{
		margin: 25px 0px 25px 0px;
		font-size: 14px;
	}
	.card-ladoalado3{
		display: inline-block;
		vertical-align: middle;
		max-width: 40%;
		padding: 10px;
		text-align: justify;
	}
	.card-ladoalado4{
		display: inline-block;
		vertical-align: middle;
		max-width: 55%;
		padding: 10px;
		text-align: justify;
	}
	footer-aux{
		display-none
	}
	.img-carro{
		width: 100%;
	}
	.botao-padrao{
		background-color: #28377A !important;
		border-radius: 7.71275px !important;
		border: none !important;
		margin: 45px;
		width: 60%;
		font-weight: bold !important;
		font-size: 21.5px !important;
	}
	.botao-padrao2{
		background-color: #28377A !important;
		border-radius: 0px 0px 7px 7px !important;
		border: none !important;
		width: 50%;
		font-weight: bold !important;
		font-size: 15px !important;
	}
	.mobile-dontshow{
		display:none;
	}
	.mobile-show{
		display:block;
	}
	.img-selos{
		width: 110px;
	}
	
	.img-selos2{
		width: 130px;
	}
	.img-selos3{
		width: 100px;
	}
	.img-selos4{
		width: 130px;
	}
}